html {
    box-sizing: border-box;
}
*,
*::before,
*::after {
    box-sizing: inherit;
}
body,
html {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #e5e5e5;
    margin: 0;
    padding: 0;
}

/* HEADER WITH MENU LOGO AND OTHER */

.header-max-width {
    position: relative;
    display: flex;
    justify-content: center;
    min-width: 1920px;
    width: 100vw;
    height: 61px;
    background-color: #3e3e3e;
    filter: drop-shadow(2px 4px 4px rgba(0, 0, 0, 0.25));
}
.header {
    display: flex;
    align-items: center;
    width: 1440px;
    /* max-width: 1440px;
    min-width: 100%; */
    height: 61px;
    background-color: #3e3e3e;
}
.logo {
    background-image: url("../img/avl-01.png");
    width: 20%;
    max-width: 286px;
    height: 61px;
    left: 13px;
    float: left;
}
.menu-and-user {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    max-width: 1154px;
    height: 61px;
}

.menu,
.user {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 27px;
    height: 27px;
}
.menu {
    right: 4%;
}
.burger-line {
    width: 27px;
    border: 2px solid white;
    background-color: white;
}
.user {
    right: 3%;
    background-image: url("../img/user.png");
}
.user-circle {
    border: 2px solid #ffffff;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    margin-bottom: 5%;
    /* margin-top: 5%; */
}
.user-arc {
    border: 2px solid #ffffff;
    border-bottom: none;
    height: 13px;
    width: 27px;
    border-radius: 5px 5px 0 0;
    margin-bottom: 5%;
}

/* LEFT SIDE PANEL & ALL BACK BLOCK & MAIN PAGE BACK BLOCK */

.main-page-background-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1440px;
    height: 100%;
}
.all-off-area {
    /* общий блок для всех элементов*/
    display: inline-block;
    /* background-color: greenyellow; */
    width: 100%;
    height: calc(100% - 61px);
}
.left-side-panel {
    /* боковая левая вериткальная панель для значков мультисервисов*/
    background-color: #f6f5f4;
    width: 56px;
    height: 100%;
    filter: drop-shadow(3px 4px 4px rgba(0, 0, 0, 0.25));
    float: left;
}

/* SCANNER */

.scanner {
    /* вертикальный блок для ссылок на сканируемые ресурсы*/
    width: 306px;
    height: 98%;
    margin: 0.5% 10px 0.1% 66px;
    background: #ffffff;
    border: 2px solid #ffffff;
    box-shadow: 3px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 9px;
}
.top-info-block-scanner {
    /*топ-элемент вертикального блока для ссылок на сканируемые ресурсы*/
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* border: 1px solid black; */
    height: 120px;
}
.scanner-name, /* внутренние элементы топ-элемента блока для ссылок*/
.scanner-on-control,
.scanner-url {
    /* border: 1px solid black; */
    height: 30px;
    padding-top: 5px;
    padding-left: 10px;
}
.scanner-name {
    /*элемент топ-блока сканера с названием*/
    margin-top: 5px;
}
.scanner-on-control {
    /* элемент топ-блока сканера с часами и ссылкой*/
    display: flex;
}
.scanner-on-control-clock {
    /*вложенный блок с часами*/
    height: 18px;
    width: 18px;
    background-image: url("../img/scannerOnControlClock.svg");
}
.scanner-on-control-name {
    /*вложенный блок с ссылкой*/
    margin-left: 10px;
    z-index: 110;
    cursor: pointer;
}
.scanner-links-list {
    /*блок сканера с списком ссылок на контроле*/
    background: #f6f5f4;
    border-radius: 9px;
    height: calc(100% - 120px);
    overflow-y: scroll;
    padding: 0 10px 0 10px;
    margin: 0 10px 0 10px;
    z-index: 110;
}
.scanner-links-list::-webkit-scrollbar {
    /*стили полосы прокрутки списка ссылок сканера*/
    width: 9px;
    background: #c4c4c4;
    border-radius: 9px;
}
.scanner-links-list::-webkit-scrollbar-thumb {
    /*стили бегунка полосы прокрутки списка ссылок сканера*/
    background: #f6f5f4;
    width: 5px;
    height: 16px;
    border: 3px solid #c4c4c4;
    border-radius: 10px;
}
.scanner-links-list-link {
    padding-top: 5px;
    margin-top: 3px;
    cursor: pointer;
}

/* SEARCH PANEL */

.search-panel {
    /* верхняя горизонтальная панель поиска по отчетам*/
    position: relative;
    display: flex;
    justify-content: flex-end;
    height: 39px;
    width: calc(100% - 392px);
    min-width: 1024px;
    background-color: #ffffff;
    border: 2px solid #ffffff;
    box-shadow: 3px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 9px;
    left: 324px;
    bottom: 98%;
}
@keyframes searchButtonClick {
    /*анимация клика на поиск и добавление задачи*/
    from {
        width: 22px;
        height: 22px;
    }

    50% {
        width: 24px;
        height: 24px;
    }

    to {
        width: 22px;
        height: 22px;
    }
}
.add-task-in-search-panel {
    /*элемент добавления задачи на панели поиска*/
    position: absolute;
    left: 10px;
    margin-top: 7px;
    width: 22px;
    height: 22px;
    background-image: url("../img/addTaskInSearchPanel.svg");
    background-size: cover;
    border: 1px solid #ffffff;
    background-color: #ffffff;
    cursor: pointer;
}
.add-task-in-search-panel:focus {
    /*клик по элементу выше*/
    animation-name: searchButtonClick;
    animation-duration: 200ms;
}
.search-panel-input-search-area {
    /*инпут для ввода поискового запроса на панели поиска*/
    display: flex;
    height: 24px;
    width: auto;
    background-color: #f6f5f4;
    border-radius: 9px;
    position: relative;
    /* left: 864px; */
    top: 5px;
    border: 1px solid #f6f5f4;
    padding: 0 5px 0 5px;
    margin-right: 10px;
    outline: none;
}
.search-panel-input-search-area:focus {
    /*расширение инпута при фокусе*/
    width: 800px;
}
.search-panel-search-submit-button {
    /*кнопка элемент инициализации поиска на панели поиска*/
    background-image: url("../img/search.svg");
    background-size: cover;
    height: 22px;
    width: 22px;
    margin-top: 5px;
    margin-right: 5px;
    border: 1px solid #ffffff;
    background-color: #ffffff;
}

.search-panel-search-submit-button:focus {
    /* анимация клика на кнопке поиска*/
    animation-name: searchButtonClick;
    animation-duration: 200ms;
}

/* REPORTS LIST BLOCKS */

.reports-back {
    /*общий блок для всех блоков отчетов*/
    position: relative;
    display: flex;
    background-image: url("../img/webbez-02\ 1.png");
    background-repeat: no-repeat;
    background-position: center;
    width: calc(100% - 392px);
    min-width: 1024px;
    height: calc(98% - 45px);
    /* background-color: red; */
    bottom: 97.5%;
    left: 382px;
}
.delete-checked-reports {
    position: absolute;
    top: 7px;
    margin-left: 5px;
    height: 18px;
    width: 16px;
    background-image: url("../img/button-delete-checked-reports.svg");
    background-position: center;
    background-repeat: no-repeat;
    border: 1px solid #ffffff;
    background-color: #ffffff;
    cursor: pointer;
}

.reports-list-back {
    /*блок списка отчетов*/
    width: 460px;
    height: 100%;
    /* background: #FFFFFF;
    border: 2px solid #FFFFFF;
    box-shadow: 3px 4px 4px rgba(0, 0, 0, 0.25); */
    border-radius: 9px;
    overflow-y: scroll;
}
.top-info-block-reports-list {
    /* топ-элемент блока списка отчетов*/
    position: absolute;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    /* background-color: red; */
    background: #ffffff;
    border: 2px solid #ffffff;
    /* box-shadow: 3px 4px 4px rgba(0, 0, 0, 0.25); */
    width: 425px;
    height: 34px;
    border-radius: 9px 9px 0 0;
    /* border: 1px solid black; тестовая граница */
}
.top-info-block-reports-list-delete {
    position: absolute;
    left: 15px;
    cursor: pointer;
    text-decoration: underline;
    background-color: #ffffff;
    border: 2px solid #ffffff;
}
.top-info-block-reports-list-left-pagination-count-reports {
    /* border: 1px solid black; тестовая граница */
    padding: 0 5px 0 5px;
    margin-right: 5px;
}
.top-info-block-reports-list-right-pagination-arrow,
.top-info-block-reports-list-left-pagination-arrow {
    height: 18px;
    width: 18px;
    border-radius: 4px;
    background-color: #c4c4c4;
    background-position: center;
    cursor: pointer;
}
.top-info-block-reports-list-right-pagination-arrow {
    background-image: url("../img/right-pagination-arrow.svg");
    background-repeat: no-repeat;
    margin-right: 10px;
    margin-left: 5px;
}
.top-info-block-reports-list-left-pagination-arrow {
    background-image: url("../img/left-pagination-arrow.svg");
    margin-right: 5px;
}
.top-info-block-reports-list-left-pagination-current-page,
.top-info-block-reports-list-left-pagination-count-pages {
    /* height: 18px; */
    /* border: 1px solid black; тестовая граница */
    padding: 0 5px 0 5px;
    border-radius: 4px;
}
.top-info-block-reports-list-left-pagination-current-page {
    min-width: 18px;
}
.top-info-block-reports-list-left-pagination-count-pages {
    background-color: #c4c4c4;
    margin-left: 5px;
}
.reports-list {
    /*элемент для вывода списка отчетов*/
    width: 425px;
    min-height: calc(100% - 32px);
    margin-top: 34px;
    /* background-color: blue; */
    background: #ffffff;
    border: 2px solid #ffffff;
    box-shadow: 3px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 0 0 9px 9px;
    /* padding-top: 10px; */
    padding: 0 10px 15px 10px;
}

.reports-list-report-block-back {
    display: flex;
    align-items: center;
}
.reports-list-report-block-back-input-checkbox {
    display: none;
}
.reports-list-report-block-back-input-checkbox-label::before {
    display: inline-block;
    /* display: none; */
    content: "\a0\a0\a0\a0\a0";
    font-size: 14px;
    height: 16px;
    width: 16px;
    background-color: #e8e8e8;
    margin-right: 10px;
    cursor: pointer;
    border-radius: 100%;
}

.reports-list-report-block-back-input-checkbox:checked
    + .reports-list-report-block-back-input-checkbox-label::before {
    background-image: url("../img/reports-list-report-block-back-input-checkbox-label-checked.svg");
    background-position: center;
    background-repeat: no-repeat;
}

.reports-list-report-block {
    display: inline-block;
    width: 100%;
    height: 140px;
    background-color: #f6f5f4;
    border-radius: 9px;
    margin-bottom: 10px;
    padding: 10px 10px 10px 10px;
    cursor: pointer;
}
.reports-list-report-block-link {
    font-family: "Roboto500";
}
.reports-list-report-block-task-description {
    margin-top: 10px;
    font-size: 14px;
}
.reports-list-report-block-date {
    /* border: 1px solid black; тестовая граница */
    padding-bottom: 10px;
}
.reports-list-report-block-date-report-create,
.reports-list-report-block-date-report-ready {
    /* border: 1px solid black; тестовая граница */
    color: #828282;
    font-size: 10px;
    margin-top: 10px;
}

/* OPENED REPORT BLOCKS */

.open-report-area-back {
    /*общий блок для открытого отчета*/
    position: relative;
    height: 100%;
    width: 611px;

    margin-left: 10px;
    overflow-y: scroll;
    /* padding-bottom: 15px; */
}
.top-info-block-report-area {
    /*топ-элемент блока открытого отчета*/
    position: absolute;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    /* background-color: red; */
    background: #ffffff;
    border: 2px solid #ffffff;
    /* box-shadow: 3px 4px 4px rgba(0, 0, 0, 0.25); */
    width: 99%;
    height: 34px;
    border-radius: 9px 9px 0 0;
    margin-bottom: 20px;
    /* border: 1px solid black; тестовая граница */
}
.top-info-block-report-area-download,
.top-info-block-report-area-delete {
    height: 20px;
    width: 20px;
    background-position: center;
    background-repeat: no-repeat;
    margin-right: 15px;
    cursor: pointer;
    /* border: 1px solid black; тестовая граница */
}
.top-info-block-report-area-download {
    background-image: url("../img/top-info-block-report-area-download.svg");
}
.top-info-block-report-area-delete {
    background-image: url("../img/top-info-block-report-area-delete.svg");
}

.reports-list-back::-webkit-scrollbar, /*стили полосы прокрутки блоков списка отчетов и открытого отчета*/
.open-report-area-back::-webkit-scrollbar {
    width: 9px;
    background: #c4c4c4;
    border-radius: 9px;
}
.reports-list-back::-webkit-scrollbar-thumb, /*стили бегунка полосы прокрутки блоков списка отчетов и открытого отчета*/
.open-report-area-back::-webkit-scrollbar-thumb {
    background: #f6f5f4;
    width: 5px;
    height: 16px;
    border: 3px solid #c4c4c4;
    /* цвет бегунка */
    border-radius: 10px;
    /* округлось бегунка */
    /* border: 3px solid orange; */
    /* отступ вокруг бегунка */
}

.open-report-area {
    /* блок открытого отчета*/
    min-height: 100%;
    width: 99%;
    background: #ffffff;
    border: 2px solid #ffffff;
    box-shadow: 3px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 9px;
    border-radius: 0 0 9px 9px;
    padding: 0 15px 15px 15px;
    margin-top: 34px;
}
.open-report-area-link {
    font-family: "Roboto500";
    margin-bottom: 20px;
}

/* REQUESTS AND REQUESTS BACKGROUND */

.all-requests-background,
.all-requests-opacity-background {
    position: absolute;
    top: 60px;
    margin-left: 56px;
    width: 1386px;
    height: Calc(100% - 60px);
}
/* общий полупрозрачный фон */
.all-requests-opacity-background {
    background-color: #1e1e1e;
    opacity: 0.5;
    z-index: 100;
    /* display: none; */
    /* сокрытие фона */
}
.all-requests-background {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* форма постановки новой задачи */
.add-new-task-form-back {
    width: 596px;
    /* height: 566px; */
    background-color: #ffffff;
    box-shadow: 3px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 9px;
    z-index: 110;
    display: none;
    /* сокрытие формы */
}
.add-new-task-form-back-name {
    font-size: 22px;
    margin: 40px 0 0 40px;
}
.add-new-task-form-back-url {
    font-size: 14px;
    margin: 40px 0 0 40px;
}
.add-new-task-form-back-form {
    /* border: 1px solid black; */
    /* отладочная заливка */
    margin: 20px 40px 40px 40px;
}
.add-new-task-form-back-form-input {
    width: 100%;
    border-left: 1px solid #ffffff;
    border-top: 1px solid #ffffff;
    border-right: 1px solid #ffffff;
    border-bottom: 1px solid #3e3e3e;
}
.add-new-task-form-back-form-input:focus {
    outline: none;
    border-bottom: 1px solid #3e3e3e;
}
/* .add-new-task-form-back-form-input:invalid {
    color: red;
} */
.add-new-task-form-back-form-task-name {
    font-size: 14px;
    margin-top: 20px;
}
.add-new-task-form-back-form-label,
.add-new-task-form-back-form-label-square {
    display: block;
    margin-top: 20px;
}
.add-new-task-form-back-form-label-square {
    margin-top: 40px;
}
.add-new-task-form-back-form-checkbox,
.add-new-task-form-back-form-checkbox-square {
    display: none;
}
.add-new-task-form-back-form-label::before {
    content: "\a0\a0\a0\a0\a0";
    font-size: 8px;
    border-radius: 100%;
    background-color: #e8e8e8;
    margin-right: 10px;
    cursor: pointer;
    border: 4px solid #e8e8e8;
    /* border:1px solid #3E3E3E; */
}
.add-new-task-form-back-form-checkbox:checked
    + .add-new-task-form-back-form-label::before {
    content: "\a0\a0\a0\a0\a0";
    border: 4px solid #e8e8e8;
    background-color: #f6f5f4;
}
.add-new-task-form-back-form-label-square::before {
    content: "\a0\a0\a0\a0\a0";
    font-size: 14px;
    height: 16px;
    background-color: #e8e8e8;
    margin-right: 10px;
    cursor: pointer;
    border-radius: 3px;
}
.add-new-task-form-back-form-checkbox-square:checked
    + .add-new-task-form-back-form-label-square::before {
    background-image: url("../img/add-new-task-form-back-form-label-square-checked.svg");
    background-position: center;
    background-repeat: no-repeat;
}
.add-new-task-form-back-form-submit,
.add-new-task-form-back-form-cancel {
    font-family: "Roboto500";
    color: white;
    font-size: 20px;
    width: 165px;
    height: 57px;
    margin-top: 40px;
    background-color: #cccccc;
    border-radius: 9px;
}
.add-new-task-form-back-form-submit {
    margin-left: 170px;
    margin-right: 10px;
}

/* окно подтверждения удаления отчета */

.all-requests-background-delete-report {
    width: 447px;
    height: 259px;
    background: #f6f5f4;
    border-radius: 9px;
    z-index: 110;
    display: none;
    /* сокрытие формы */
}
.all-requests-background-delete-report-name {
    font-size: 22px;
    margin: 56px 87px 40px 87px;
    text-align: center;
    /* border: 1px solid black; */
    /* отладочная заливка */
}
.all-requests-background-delete-report-submit,
.all-requests-background-delete-report-cancel {
    height: 57px;
    width: 177px;
    background-color: #e5e5e5;
    border: 1px solid #e5e5e5;
    border-radius: 9px;
    font-size: 22px;
}
.all-requests-background-delete-report-submit {
    margin-left: 29px;
    margin-right: 35px;
}

/* FONTS ROBOTO & ROBOTO500 and Errors */

div,
input,
button {
    font-family: "RobotoRegular";
    color: #3e3e3e;
    font-size: 14px;
}

.error {
    color: red;
}

@font-face {
    font-family: "RobotoRegular";
    src: url("../fonts/roboto-v30-latin_cyrillic-regular.woff")
        format("truetype");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "Roboto500";
    src: url("../fonts/roboto-v30-latin_cyrillic-500.woff") format("truetype");
    font-style: normal;
    font-weight: normal;
}
